<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="ylk|%t|%X{traceNO}|%d{yyyy-MM-dd HH:mm:ss}|log4j2.xml|%-5p|%c{1}:%L|%m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <asyncRoot level="debug">
            <AppenderRef ref="STDOUT"/>
        </asyncRoot>
    </Loggers>
</Configuration>