<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>ylk|%d{yyyy-MM-dd HH:mm:ss}|logback.xml|%-5p|%c{1}:%L|%m%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>